.contact-main-body{
    position: relative;
    display: block;
    box-sizing: border-box;
    padding: 50px;
    color:rgba(51, 51, 51, 0.822);
    padding: 45px 0px;
    line-height: 24px;
}

.page-header{
    font-size: 35px;
    color: rgba(5, 2, 26, 0.749);
    font-weight: initial;
    text-align: center;
    /* text-decoration-line: underline;
    text-underline-offset: 10px;
    text-decoration-color: rgba(5, 2, 26, 0.749); */

}

.linki{
    text-decoration: none;
	color: #394692b4;
    
}