.card {
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px 0px;
  }
  
  .newsImage {
    flex-basis: 20%;
    max-width: 20%;
    margin-right: 20px;
    background-color: #eee;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
  }
  
  .newsHeader {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .news {
    display: flex;
    flex-direction: column;
    width: 80%;
  }
  .newsInfo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .newsText {
    margin-bottom: 10px;
  }
  
  .openNewsButton {
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    align-self: flex-end;
    justify-self: end;
  }
  
  .openNewsButton:hover {
    background-color: #394692;
  }
  