@font-face {
	font-family: 'Source_Sans_Pro';
	src: url('./Source_Sans_Pro/SourceSansPro-Bold.ttf')format('embedded-opentype')
}
:root {
	--mainColor: #00000000;
	--mainColorLight: #a4acda;
	--secondaryColor: #394692;
	--textColor: rgba(5, 2, 26, 0.749);
}

 header{
	position:relative;
	background-color: #000000B3;
	gap: 0.5rem;
	background-color: var(--mainColor);
	border-style:groove;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-color:#d4daf2;
	padding: 20px;
	margin-bottom: 30px;
	height: 320px;
}
/* .nav-menu-btn, .nav-close-btn{
	visibility:visible;
}
nav .nav-close-btn {
	position: relative;
	top: 0rem;
	right: 2rem; 
} */
.logo{
	display: flex;
	height: 80%;
	max-width: 100%;
	align-items: center;
	justify-content: center;
}
.menu-btn{
	display: flex;
	margin: 0 auto;
	background-color: inherit;
	color:rgba(5, 2, 26, 0.749);
	text-decoration: none;
	text-align: center;
	border-style: none;
	font-weight: bold;
	font-size: 1.5rem;
}


.menu-btn:hover {
	color: var(--secondaryColor);
} 

@media only screen and (min-width: 600px) {
	
	header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
		height: 100px;
		overflow:hidden;
	}	

	.navbar_container{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		overflow:hidden;
		width:100%;
		height:100%;
	}

	.logo{
		max-width: 100%;
		margin-left: 32%;
	}
	

	.buttons{
		display: flex;
		justify-content: flex-end;
		margin-right: 19%;
	}
	.menu-btn{
		padding-top: 10%;
		width: 100px;
		height: 100%;
		display:flex;
		flex-direction: row;
		margin-left: 10%;
		font-size: 14px;
		font-weight: 600;
		justify-content: center;
		align-items: center;
		text-transform: none;
	}
}
