@font-face {
	font-family: 'Source_Sans_Pro';
	src: url('./Source_Sans_Pro/SourceSansPro-Bold.ttf')format('embedded-opentype')
}
:root {
	--mainColor: #00000000;
	--mainColorLight: #a4acda;
	--secondaryColor: #394692;
	--textColor: rgba(5, 2, 26, 0.749);
} 

 header{
	position:relative;
	background-color: #000000B3;
	display: flex;
	flex-direction: row;
	align-items:baseline;
	justify-content: center;
	gap: 0.5rem;
	background-color: var(--mainColor);
	border-style:groove;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-color:#d4daf2;
	padding: 20px;
	height: 320px;
}
.nav-menu-btn, .nav-close-btn{
	visibility: hidden;
}
nav .nav-close-btn {
	position: relative;
	top: 0rem;
	right: 2rem; 
}
.menu-btn{
	display: block;
	margin: 0 auto;
	background-color: inherit;
	color:rgba(5, 2, 26, 0.749);
	text-decoration: none;
	text-align: center;
	border-style: none;
	font-weight: bold;
	font-size: 1.5rem;
}

a {
	color: white;
	text-decoration: none;
}

.menu-btn:hover {
	color: var(--secondaryColor);
} 

@media only screen and (min-width: 600px) {
	
	header {
		flex-direction: row;
		position: relative;
		display: flex;
		width: 100%;
		justify-content:space-between;
		height: 106px;
		overflow: auto;
	}	

	.logo{
		position: absolute;
		left: 1%;
		display: inline-block;
	}

	nav{
		width: 60%;
		padding-left: 15px;
		padding-right: 15px;
		position: absolute;
		right: 5%;
	}
	.menu-btn{
		position: relative;
		box-sizing: border-box;
		display: inline-block;
		padding: 0 18px;
		width: 20%;
		font-size: 14px;
		font-weight: 600;
		line-height: 30px;
		text-transform: none;
		vertical-align: middle;
	}
}
