/* .main-partners{
    color: black;
    text-decoration: false;
    background-color: #24272c;
    padding-top: 3em;
    position: relative;
    bottom: 0;
    width: 100%;
} */

.header{
    text-align: center;
}
.partner{
    margin: 0px 20px;
} 

.partners{
    padding: 15px;
}

.slider{
    text-decoration: none;
    color:black;
}