/* @import url("https://fonts.gstatic.com/s/sourcesanspro/v21/6xKwdSBYKcSV-LCoeQqfX1RYOo3qPZYokSdh18Smxg.woff2"); */
/* src: url() format('woff2'); */
  
* {
	padding: 0;
	margin: 0;
	position: relative;
	box-sizing: border-box;
	font-family: 'Source Sans Pro', sans-serif;
}

:root {
	--mainColor: #00000000;
	--mainColorLight: #000000;
	--secondaryColor: #394692;
	--textColor: #000000;
	height: 100vh;

}
